<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Task List</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="todos">
      <div class="todos__main-content">
        <h1 class="todos__header"><%= title %></h1>

        <button class="todos__add-btn">+ Add Todo</button>

        <!-- Form -->
        <form class="todos__form" action="/" method="POST">
          <input
            type="text"
            class="todos__todo-input"
            name="todo"
            placeholder="write a todo..."
          />
          <button class="todos__submit-btn">Submit</button>
        </form>

        <!-- all the todos -->
        <div class="todos__all-todos">
          <% if(todos.length === 0){ %>
          <p class="nothing">No Todos...</p>
          <% } %>
          <ul class="todos__todo-list">
            <% todos.forEach((todo)=>{ %>
            <li class="todos__each-todo" id="<%= todo._id %>">
              <input
                type="checkbox"
                class="todos__each-checkbox"
                id="checkbox_<%= todo._id %>"
                name="todo"
              />
              <label
                class="todos__todo-label"
                for="todo"
                id="label_<%= todo._id %>"
                ><%= todo.todo %></label
              >
              <div class="todos__edit-delete" id="edit-delete_<%= todo._id %>">
                <button
                  class="todos__edit-btn"
                  onclick="editTodo('<%= todo._id %>', '<%= todo.todo %>')"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  class="todos__remove-btn"
                  onclick="removeTodo('<%= todo._id %>')"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>

              <!-- editing todo -->
              <div class="todos__todo-editing" id="editing_<%= todo._id %>">
                <input
                  type="text"
                  class="todos__edit-input"
                  id="input_<%= todo._id %>"
                />
                <button class="todos__edit-save" id="save-btn_<%= todo._id %>">
                  Save
                </button>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </section>

    <script>
      //============ catching the elements ==============
      const addBtn = document.querySelector(".todos__add-btn");
      const form = document.querySelector(".todos__form");
      const todoInput = document.querySelector(".todos__todo-input");
      const submitBtn = document.querySelector(".todos__submit-btn");
      const eachTodo = document.querySelectorAll(".todos__each-todo");

      const todoEditing = document.querySelectorAll(".todos__todo-editing");

      //=================== default changes ====================
      form.style.display = "none";
      todoEditing.forEach((todo) => {
        todo.classList.add("display-none");
      });

      //===================== make changes ========================
      addBtn.addEventListener("click", () => {
        form.style.display = "block";
        addBtn.style.display = "none";
      });

      submitBtn.addEventListener("click", async () => {
        try {
          const res = await fetch("/", {
            method: "POST",
            body: {
              todo: todoInput.value,
            },
          });

          location.reload();
        } catch (err) {
          console.log(err.message);
        }
      });

      // ========= remove todo ===========
      async function removeTodo(id) {
        try {
          const res = await fetch(`/${id}`, {
            method: "DELETE",
          });

          location.reload();
        } catch (err) {
          console.log(err.message);
        }
      }

      // =========== edit =============
      function editTodo(id, todo) {
        let li = document.getElementById(id);
        let checkbox = document.getElementById("checkbox_" + id);
        let label = document.getElementById("label_" + id);
        let edit_delete = document.getElementById("edit-delete_" + id);
        let editing = document.getElementById("editing_" + id);
        let edit_input = document.getElementById("input_" + id);
        let edit_save = document.getElementById("save-btn_" + id);

        // make checkbox, label and edit-delete div display to none
        checkbox.style.display = "none";
        label.style.display = "none";
        edit_delete.style.display = "none";

        // make editing div display to grid
        editing.classList.remove("display-none");
        editing.classList.add("display-grid");

        // add value
        edit_input.value = todo;
      }
    </script>
  </body>
</html>
